


@mixin centered-row-layout {
    //reutilizacion de codigo de estilos
    display: flex;
    flex-direction: row;
  
}

@mixin centered-column-layout {
    //reutilizacion de codigo de estilos
    display: flex;
    flex-direction: column;

}


@mixin button-normal-white {
  
    height: 32;
    color:$purple;
    gap:20px;
    border:0px;
    background-color: white;
    border-radius:6px; 
    font-size: medium;
   

}
@mixin button-normal-purple {
  
    height: 32;
    color:white;
    padding:8px 20px;
    border:0px;
    background-color: $purple;
    border-radius:6px; 
    font-size: medium;

}

@mixin button-normal-blue {
  
    height: 32;
    color:white;
    padding:8px 20px;
    border:0px;
    background-color: $strong-blue;
    border-radius:6px; 
    font-size: medium;

}

@mixin content-information {
    display:flex;
    justify-content: center;
    padding:20px; 
    width:80%; 
}

