// COLORS

$morado: #A50085;
$morado-oscuro: #780060;
$azul-fuerte:#002766;
$azul-claro:#554AED;
$azul-oscuro:rgb(13,38,98);
$amarillo:#E9D336;

// FONTS
$general:'Lato';
$manuscrita :'Nothing You Could Do';





