@import '../utils/variables.scss';

.contenidosWindows {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: $strong-blue;
   
  }

.form-todos {
    display: flex;
    flex-direction: column;
    width: 60%; 
    padding-top:40px; 
    &>input {
        padding-left:12px;
        font-size: medium;
        height: 32px;
        border:0.5px solid $strong-blue;
        border-radius:4px;
        margin-top:4px;
    }

    &>label {
        font-weight: 600;
    }
}

.button-todos {
    @include button-normal-blue;
    margin: 20px 0px 0px 20px; 
}

.nav-todos {
   display:flex;
   flex-direction:row;
   justify-content: flex-end;
    
   
}

.h3-todos {
    text-align: left;
}

.first-label {
    padding-top:20px;
}
