@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.footer{
    visibility:hidden;
    @include centered-column-layout;
   
    color:white;
    height: 14vh;
    vertical-align: bottom;
    width:100vw; 
    background-color:$strong-blue;

}
