.footer{

    height: 12vh;
    width: 100%;
    background-color: $morado;  
    text-align: center;
    position:fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 3px solid #73AD21;

}