@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.home {

min-height: 800px;
background-color: rgb(233, 233, 233);

}
.cabecera_estudiante {
  height:100%;
  width:100%;
  background-color: whitesmoke;
  text-align: right;
  
}