@import '../utils/mixins.scss';
@import '../utils/variables.scss';



.interaccionesCard {
   color:$strong-blue;

    &>div {
        display: flex;
        justify-content: space-evenly;
       padding:4px;
       border:1px solid $strong-blue;
       border-radius: 6px;


        &>div {
            &>label {
                margin-right: 5px;
            }
        }
    }

    &>textarea {
        height: 60px;
    }

}

.interacciones {
    @include content-information;

    }


    .crearNuevaInteraccion {
        display: flex;
        flex-direction: column;
    }
}

