@import '../utils/mixins.scss';
@import '../utils/variables.scss';


.interacciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

    .botonInteracciones {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }

    &>h1 {
        font-size: large;
    }

    &>article {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &>nav button {
        justify-content: flex-end;
        @include button-normal-blue;
        margin: 5px;
        font-size: large;
    }

    .interaccionesCard {
        display: flex;
        flex-direction: column;
        padding: 8px;
        border: 2px solid black;
        border-radius: 8px;
        margin-bottom: 8px;
        margin-top: 16px;

        .motivo_fecha {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px;

            &>label {
                margin-right: 8px;
            }

            &>select {
                margin-right: 16px;
            }
        }

        .observaciones {
            display: flex;
            flex-direction: column;

            &>textarea {
                height: 48px;
                width: 380px;
                padding: 6px;
                margin-bottom: 16px;
            }
        }

        &>button {
            margin-top: 12px;
        }
    }

    .crearInteraccion {
        margin-top: 48px;
    }

}

select {
    height: 32px;
}

input {
    padding-left: 5px;
    height: 32px;
}
