@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.login-form {
    box-sizing: border-box;
    @include centered-column-layout;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 4%;
   

    &>h4 {
        color: $strong-blue;
    }


    &>input {
        height: 32px;
        border: 1 solid $strong-blue;
        width: 360px;    }
}

.login_button  {
    @include button-normal-blue;
    width: 368px;
    height: 38px;
    border-radius: 6px; 
   
    }

.logout-bar {
    @include centered-row-layout;
    height: 18vh;
    width:100%;
    align-items: center;
    justify-content: space-between;
    background-color:$strong-blue;

    &>button {
        @include button-normal-blue;
        font-weight: 800;

    }

}

.agent {

    @include centered-row-layout;
    align-items: center;
    justify-content: start;
    gap: 10px;


    &>img {

        height: 48px;
        width: 48px;
        border-radius: 50%;

    }

    &>h2 {
        padding-left: 48px;
    }


}