@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.main{
    box-sizing: border-box;
    @include centered-column-layout;
    background-color: white;
    width:100vw;
    color:white;
}