@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.cabecera_estudiante {
    @include centered-row-layout;
    justify-content: space-between;
    background-color:$light-purple;


}
.pestañas {
    @include centered-row-layout;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
      
    

    &>button {
        @include button-normal-purple;
        
    }   background-color:$light-purple;

}

.nombre_estudiante {
    @include centered-row-layout;
    justify-content: flex-start;
    text-align: left;
}