@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.cabecera_estudiante {
    @include centered-row-layout;
    justify-content: space-between;
    background-color:$light-purple;


}
.pestañas {
    @include centered-row-layout;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding:0px 20px;    
    

    &>button {
        height: 40px;
        border: 0px 0px 4px 0px;
    }   background-color:$light-purple;

}

.nombre_estudiante {
    @include centered-row-layout;
    justify-content: flex-start;
    text-align: left;
}