@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.pestañas {

    @include nav-right-purple;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
  
    &>button {
        height: 40px;
       
    }
}