@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.servicios {
    @include centered-column-layout;
    padding-bottom: 20px;

    &>article {
        display: flex;
        flex-direction: column;
        padding-left: 40px; 
        width: 60%; 
        padding-top:40px;

        &>input {
            padding-left:12px;
            font-size: medium;
        }
    }
   
}


    
   


.boton-servicios{
    border:8px; 
}