@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.servicios {
    @include centered-column-layout;
    padding-bottom: 20px;

    &>article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
        width: 80%;
        background-color:white;
    }
   
}
.boton-servicios{
    border:8px; 
}