@import './pages/App';

@import './components/Buscador';
@import './components/Datospersonales';
@import './components/Footer';
@import './components/Header';
@import './components/Home';
@import './components/Interacciones';
@import './components/Login';
@import './components/Main';
@import './components/Nav';
@import './components/Servicios';
@import './components/ServicioItem';
@import './components/Windows';




