@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.form{
    padding:16px;
    border: 1px solid $asparragus;
    border-radius: 8px;
    width: 50%;
    display: flex;
    @include centered-column-layout;
    @include form ($asparragus);
}